

@media(min-width:1400px){

}

@media(min-width:1200px) and (max-width:1399.98px){

}

@media(min-width:992px) and (max-width:1199.98px){

}

@media(min-width:768px) and (max-width:991.98px){

}

@media(min-width:576px) and (max-width:767.98px){

}

@media(max-width:767.98px){
    .section_info p{
        padding:0 ;
        letter-spacing: 1px;
    }
    #slider .slider_slick .slide_item h2{
        font-size: 30px;
        line-height: 40px;
        padding-bottom:0;
    }
    #slider .slider_slick .slide_item p{
        display:none;
    }
    #about .about_item_container .about_item:nth-child(odd){
            text-align: left;
        }
}

@media(min-width:768px){
    #about .about_item_container .about_item:nth-child(odd) .about_heading{
            display: flex;
            flex-wrap: wrap;
            justify-content:flex-end;
           align-items: center;
        }
        #about .about_item_container .about_item:nth-child(odd) .about_heading i{
            order: 2;
            
        }
}